{% extends 'admin/baseAdmin.html' %}

{% block title %}

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<header class="navbar">
    <form action="/admin/train_svm_classifier" method="post" enctype="multipart/form-data" >
        <table align="center">
        <tr>
            <td>Путь к векторам</td>
            <td><input type="text" name="embeddings_path" size=100></td>
        </tr>
        <tr>
            <td>Путь к классификатору</td>
            <td><input type="text" name="classifier_model_path" size=100></td>
        </tr>
        <tr>
            <td>Путь к подписям</td>
            <td><input type="text" name="label_encoder_path" size=100></td>
        </tr>
        <tr>
            <td><input type="submit" value="Обучить SVM модель" class="btn btn-primary"></td>
        </tr>
    </table>
    </form>
</header>

{% endblock %}